body {
    background-color: pink !important;
    color: #537fff   !important;
}

.contenedor-input {
    input {
        width: 250px;
        height: 40px;
    }

    textarea {
        width: 250px;
    }
}

@for $i from 1 through 10 {
    .texto-#{$i} {
        font-size: calc(18px + 2px * #{$i});
    }

    .imagen-#{$i} {
        width: calc(15px * #{$i}) !important;
        height: calc(15px * #{$i}) !important;
    }
}

$color-raro: #9fff1d;

.texto-color {
    color: $color-raro;
}

.boton-navegador {
    color: #d62fec;
    background: #fecdd8;
    padding: 3px;
    text-decoration: none;

    &:visited {
        color: #000;
    }
}
body  { background-image:  url("../img/fondodeflores.jpg");
background-size: cover; 
background-position: center; 
}
@font-face{
font-family:'kavivana' ;
src:url(../pages/fuantes/Kavivanar.zip) ;
font-weight: bold;
font-style: bold;
}
title{ font-family:'kavivana' ;
    font-weight: bold;
}
h1{ font-family:'kavivana' ;
    font-weight: bold;
}
h3{ font-family:'kavivana' ;
    font-weight: bold;
}
h2{ font-family:'kavivana' ;
    font-weight: bold;
}
h4{ font-family:'kavivana' ;
    font-weight: bold;
}
p{ font-family:'kavivana' ;
    font-weight: bold;
}